body {
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

}

.header,
.hero {
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px 300px;
}

.header,
.hero,
.images-gallery {
    display: flex;
    align-items: center;
}

.logo {
    color: #E5E7EB;
    font-size:  24px;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 30px;
}

.hero {
    gap: 50px;
}

.hero-left > h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-left > p {
    font-size: 18px;
    color: #E5E7EB;
}



button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}



.images-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.images-gallery {
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 0 300px;
}
.caption {
    align-items: center;
}

.caption >p {
    width: 160px;
    padding: 20px;
    margin: 0;
    color: #1F2937;
    text-align: center;
}

.quote {
    padding: 100px 300px;
    background-color: #E5E7EB;
}

#quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

#quote-author {
    text-align: right;
    padding-right: 30px;
}

.action-container {
    padding: 100px 300px;
}

.action {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    color: #E5E7EB;
}

.action-text > p {
    padding: 2px;
    margin: 0px;
}

.action-text-title {
    font-weight: 700;
}

#action-button {
    border-color: #E5E7EB;
    border: solid;
    border-width: thin;
}